:root {
  --primary-color: #19a059;
  --info-color: #3691f8;
  --success-color: #19a059;
  --warning-color: #f0a020;
  --error-color: #d03050;
  --vp-sidebar-bg-color: #fff;
  --border-color: #ebeef5;
  --aside-container-width: 200px;
  --vp-sidebar-width: 268px;
  --vp-layout-max-width: 1920px;
  --vp-button-brand-bg: var(--primary-color);
  --vp-button-brand-hover-bg: var(--primary-color);
}
